@import url("base-dark.css");

.wrap2 {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--dark-mode1);
}
#reload_btn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: var(--dark-mode4);
  border-radius: 2em;
  margin: 20px;
}
#reload_btn i {
  font-size: medium;
  color: var(--dark-mode0);
}
.mychannel_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 70%;
  height: 15%;
  padding: 5% 15% 0 15%;
}
.my_imgBox {
  display: flex;
}
.my_info {
  width: 100%;
}
.mychannel_menu-box {
  display: flex;
}
.tab {
  display: flex;
  overflow: hidden;
}
.tabbtn {
  background-color: inherit;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  flex-basis: 100px;
  font-size: 14px;
  color: var(--dark-mode4);
}
.tabbtn.active {
  color: white;
  border-bottom: 3px solid var(--dark-mode4);
}
.tabcontent {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
#home {
  color: white;
}
#home .home-2 {
  height: 50%;
}
.updateform {
  display: flex;
  height: 100%;
  background-color: var(--dark-mode4);
  text-align: center;
}
.video-div {
  position: relative;
  padding-bottom: 45%; /* 16:9 */
  height: 0;
}
video {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  margin: 0 10%;
  background-color: black;
}
@media all and (min-width: 320px) {
  .tab button {
    padding: 8px 6px;
    font-size: 14px;
  }
  .my_Name {
    width: 100%;
    padding-top: 18px;
    text-align: start;
    font-size: 14px;
  }
  #home {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 100px;
  }
  #home .home-1 {
    font-size: 1.4em;
    padding-bottom: 30px;
  }
  #filelist {
    display: block;
    height: 100%;
  }
}
@media all and (min-width: 768px) {
  .tabbtn {
    padding: 16px 20px;
    font-size: 16px;
    min-width: 120px;
  }
  .my_Name {
    font-size: 16px;
  }
}

@media all and (min-width: 960px) {
  .tabbtn {
    padding: 16px 20px;
    font-size: 16px;
    min-width: 120px;
  }
  .my_Name {
    padding-top: 0;
    font-size: 16px;
  }
  #home {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 10%;
  }
  #home .home-1 {
    font-size: 1.6em;
    padding-bottom: 40px;
  }
}
