<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <script src="https://kit.fontawesome.com/5a23e8d3b2.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/main.js" defer></script>
    {% block extrahead %}
    {% endblock %}
    <title>youtube video</title>
</head>
<body>
    <header class="header" id="header">
        <div class="menu">
            <button id="menu_btn" onclick="ToggleSidebar()"><i class="fas fa-bars"></i></button>
            <div class="logo">
                <button id="logo_title" class="logo_title" onClick="window.location.href = '/index'">
                    <i class="fab fa-youtube"></i><span class="logo-span">YOUTUBE</span> 
                </button>
            </div>
            <nav class="menu_box" id="menu_box" onclick="ToggleSidebar()">
                <ul id="menu_list">
                    <li><button onclick="window.location.href = '/top'">인기</button></li>
                    <li><button onclick="window.location.href = ''">다른 메뉴</button></li>
                </ul>
            </nav>
        </div> 
        <div class="nav">
            {% if user.is_authenticated %}
            <button style="min-width: 200px;text-align: end;">
                <a href="/mychannel">{{user.username}}님의 채널</a>
            </button>
            {% else %}
            <button style="min-width: 200px; text-align: end;">
                <li><a href="{% url 'youtube:login' %}" >Sign in</a></li>
            </button>
            {% endif %}
            <button class="search_btn" id="search_btn" onclick="window.location.href = '/search'">
                <i class="fas fa-search"></i>
            </button>
            <button class="settings_btn" id="dropbtn" onclick="DropDownSetting()">
                <i class="fas fa-users-cog"></i>
            </button>
            <div id="myDropdown" class="dropdown-content">
                <ul>
                    <li><button id="darkmode_btn" onclick="ToggleTheme()">테마 토글</button></li>
                </ul>
                {% if user.is_authenticated %}
                <ul>
                    <li style="padding-bottom: 10px;"><a href="/who">로그인한 계정 정보</a></li>
                    <li><a href="{% url 'youtube:logout' %}">로그아웃</a></li>
                </ul>
                {% else %}
                {% endif %}
            </div>
            <div id="myDropdown" class="dropdown-content">
                <ul>
                    <li><button id="darkmode_btn" onclick="ToggleTheme()">토글 버튼</button></li>
                </ul>
            </div>
        </div>
    </header>
    {% block content %}
    
    {% endblock content %}
    {% block javascript %}{% endblock %}
</body>
</html>