{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" id="whotheme"  class="theme-link"/>
{% endblock %}

{% block content %}
<div class="wrap">
    
    {% if user.is_active %} 
    <h2 class="modtitle">계정 수정</h2>
    <form class="usermod-form" action="{% url 'youtube:account_mod' %}" method="POST">
        {% csrf_token %}
        <div class="usermod-item">
            <p>"UserName"</p> 
            <input type="text" name="username" value="{{ user.username }}"/>
        </div>
        <div class="usermod-item">
            <p>"email"</p> 
            <input type="text" name="email"  value="{{ user.email }}"/>
        </div>
        <button type="submit">수정</button>
    </form>
    {% else %}
    <h2>로그인된 계정 없음</h2>
    {% endif %}
</div>
{% endblock content %}