{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/main-light-theme.css" %}" id="maintheme"  class="theme-link"/>
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="video-flex">
        {% for video in videos %}
        <div class="video-item">
            <a href="{% url 'youtube:detail' video.id %}">
            <div class="video-div">
                <video class="video-player">
                    <source src="{{video.file.url}}" type="video/mp4">
                </video>
            </div>
            <div class="video-info-div">
                <li class="video-info"><p>{{ video.title }}</p></li>
                <li class="video-info"><p>{{ video.des }}</p></li>
                <li class="video-info"><p>{{ video.uploaded_at }}</p></li>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}