{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/main-light-theme.css" %}" id="maintheme"  class="theme-link"/>
{% endblock %}

{% block content %}
<div class="wrap">
    {% for video in videos %}
    <div>
        <a href="{% url 'youtube:detail' video.id %}">
        <video width="180" height="120" controls>
            <source src="{{video.file.url}}" type="video/mp4">
        </video>
        <li><p>{{ video.title }}</p></li>
        <li><p>{{ video.des }}</p></li>
        <li><p>{{ video.uploaded_at }}</p></li>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}