{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/reg-light-theme.css" %}"  id="maintheme" class="theme-link"/>
{% endblock %}

{% block content %}
<div class="wrap">
    <span class="login-span">LOGIN</span>
    {{ error }}
    <div>
        <form method="post" action="" class="form-login">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="로그인" />
        </form>
    </div>
    <div>
        만약 계정이 없다면 <br>
        <a href="{% url 'youtube:signup' %}">signup</a>
    </div>
</div>
{% endblock content %}