{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/mychannel-light-theme.css" %}" id="mychanneltheme"  class="theme-link"/>
{% endblock %}

{% block content %}
<section class="wrap2">
    <button id=reload_btn onclick="location.reload();"><i class="fas fa-redo-alt"></i></button>
    <div class="mychannel_info" id="mychannel_info">
        <div class="my_imgBox">
            <div class="my_info">
                {% if user.is_active %} 
                <li><span id="user_Name">"{{ user.username }}"님</span></li>
                {% endif %}
            </div>
        </div>
        <div class="tab" id="tab">
            <button class="tabbtn active" onclick="window.location.href = 'mychannel'">업로드</button>
            <button class="tabbtn" onclick="window.location.href = 'list'">파일목록</button>
        </div>
    </div>
    <div id="home" class="tabcontent">
        <div class="home-1">동영상을 저장하고 <br>파일 목록에서 확인해보세요.</div>
        
        {% if user.is_active %} 
        <div class="home-2">
            <form action="" method="POST" encType="multipart/form-data" class="upload-form">{% csrf_token %}
                <label for="video-title" required>제목</label>
                <input id="video-title" maxlength='50' type="text" name="title" placeholder="동영상 제목 입력" required/><br>
                
                <label for="video-file">동영상 선택</label>
                <input id="video-file" type="file" name="videofile" accept="video/*" required/><br>
                
                <label for="video-des">설명</label>
                <textarea id="video-des" name="des" rows="5" placeholder="동영상에 대한 설명 입력"></textarea><br>
                
                <button type="submit"> 업로드 </button>
            </form>
        </div>
        {% else %}
        <div>로그인이 필요한 서비스입니다.</div>
        <a href="{% url 'youtube:login' %}">Sign in</a>
        {% endif %}

    </div>
</section>
{% endblock content %}

