{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/mychannel-light-theme.css" %}" id="mychanneltheme"  class="theme-link"/>
{% endblock %}

{% block content %}
<section class="wrap2">
    <button id=reload_btn onclick="location.reload();"><i class="fas fa-redo-alt"></i></button>
    <div class="mychannel_info" id="mychannel_info">
        <div class="my_imgBox">
            <div class="my_info">
                {% if user.is_active %} 
                <li><span id="user_Name">"{{ user.username }}"님</span></li>
                {% endif %}
            </div>
        </div>
        <div class="tab" id="tab">
            <button class="tabbtn" onclick="window.location.href = 'mychannel'">업로드</button>
            <button class="tabbtn active" onclick="window.location.href = 'list'">파일목록</button>
        </div>
    </div>
    <div id="filelist" class="tabcontent" style="display:block">
        {% if videos %}
        <table>
            <tbody>
                {% for video in videos %}
                <tr>
                    <td>
                        <a href="{{video.pk}}">
                        <li><p>제목 : {{ video.title }}</p></li>
                    </td>
                    <td class="downloadlink">
                        <li><a href="{{ video.file.url }}">download</a></li>
                    </td>
                    <td>
                        <form method="post" action="{% url 'youtube:video_delete' video.id %}" onclick="return confirm('<{{ video.title }}>을 정말 삭제하시겠습니까?')">
                            {% csrf_token %}
                            <button type="submit">delete</button>
                        </form>
                    </td>
                    <td>
                        <a href="edit{{ video.pk }}" class="update-link"><button class="update-btn">update</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3>저장된 동영상 없음.</h3>
        {% endif %}
    </div>
</section>
{% endblock content %}