{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" id="whotheme"  class="theme-link"/>
{% endblock %}

{% block content %}
<div class="wrap">
    {% if user.is_active %} 
    <div class="account-title">비밀번호 수정</div>
    <form method="POST" action="{% url 'youtube:pw_mod' %}" class="usermod-form">
        {% csrf_token %}
        <div class="error-text">{{ error }}</div>
        <div class="usermod-item">
            <p>현재 비밀번호</p> 
            <input name="origin_password" type="password" required>
        </div>
        <div class="usermod-item">
            <p>새로운 비밀번호</p> 
            <input name="password1" type="password" required>
        </div>
        <div class="usermod-item">
            <p>새로운 비밀번호 확인</p> 
            <input name="password2" type="password" required>
        </div>
        <div class="usermod-subminbtn">
            <button class="login_btn" type="submit">수정</button>
        </div>
    </form>
    {% else %}
    <h2>로그인된 계정 없음</h2>
    {% endif %}
</div>
{% endblock content %}