{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/search-light-theme.css" %}" id="searchtheme"  class="theme-link"/>
{% endblock %}

{% block content %}
<section class="wrap3">
    <div class="search_form_section">
        <form method='GET' action="{% url 'youtube:search_result' %}" id="search_form" class="search_form"> 
            {% csrf_token %}
            <input id="keyword" class="keyword" type=text name=q maxlength=255 value="{{ keyword }}" placeholder="검색" />             
            <button type="submit" tag="icons" class="search_submitbtn"/><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div id="search-list">
        <div class="result">
            {% for video in videos %}
            <div>검색 결과
                <a href="{% url 'youtube:detail' video.id %}">
                    <li class="video-info-title">{{ video.title }}</li>
                    <div class="video-info-div">
                        <li>{{ video.writer }}</li>
                        <li>조회수 {{ video.hits }}회</li>
                        <li>{{ video.uploaded_at }}</li>
                    </div>
                </a>
            </div>
            {% empty %}
                <div class="result-div">검색 결과 없음.</div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}