{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/top-light-theme.css" %}"  id="toptheme" class="theme-link"/>
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="topvideo-title">인기 동영상</div>
    {% for video in videos %}
    <div class="video-flex">
        <div class="video-item" >
            <a href="{% url 'youtube:detail' video.id %}">
                <div class="video-div">
                    <video class="video-player" src="{{video.file.url}}" type="video/mp4"></video>
                </div>
            </a>
        </div>
        <div class="video-item2">
            <a href="{% url 'youtube:detail' video.id %}">
                <li class="video-info-title">{{ video.title }}</li>
                <div class="video-info-div">
                    <li>{{ video.writer }}</li>
                    <li>조회수 {{ video.hits }}회</li>
                    <li>{{ video.uploaded_at }}</li>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}