{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/top-light-theme.css" %}"  id="toptheme" class="theme-link"/>
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="video-flex">
        {% for video in videos %}
        <div class="video-item">
            {{ forloop.counter }}
            <a href="{% url 'youtube:detail' video.id %}">
            <div class="video-div">
                <video class="video-player">
                    <source src="{{video.file.url}}" type="video/mp4">
                </video>
            </div>
            <div class="video-info-div" style="padding-top: 10px; text-align: start;">
                <li class="video-info" style="font-size: large;padding-bottom: 10px; "><p>{{ video.title }}</p></li>
                <li class="video-info" style="color:gray;"><p>{{ video.writer }}</p></li>
                <li class="video-info" style="color:gray;"><p>조회수 {{ video.hits }}회, {{ video.uploaded_at }}</p></li>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}