{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href=" {% static "css/video-light-theme.css" %}" id="videotheme"  class="theme-link"/>
    
{% endblock %}

{% block content %}
{{ video.click }}
<div class="wrap">
    <div class="contents">
        <section class="video">
            <div class="video-div">
                <video autoplay controls>
                <source src="{{video.file.url}}" type="video/mp4">
                </video>
            </div>
            <div>
                <div class="video_title">
                    제목 : {{ video.title }}
                </div>
                <div>
                    업로드 날짜 : {{ video.uploaded_at }}
                </div>
                <div class="video_information">
                    <span class="video_views" title="조회 수">조회수 : {{ video.hits }}회</span>
                    <div class="video_likehateicons">
                        <li><button class="video_btn" title="이 동영상이 마음에 듭니다."><i class="fas fa-thumbs-up fa-md"></i> 1만</button></li> 
                        <li><button class="video_btn" title="이 동영상이 마음에 들지 않습니다."><i class="fas fa-thumbs-down fa-md"></i> 2천</button></li> 
                        <li><button class="video_btn" title="공유"><i class="fas fa-share fa-md"></i> 공유</button></li> 
                    </div>
                </div>  
            </div>
        </section>
        <section class="video_user">
            <div class="user_imgBox">
                <img class="user_img" src="" alt=""></img>
            </div>
            <div class="video_detail">
                <div class="user_Box">
                    <div class="user_detail">
                        <span class="user_Name" title="유저 네임">유저 네임</span>
                        <span class="user_NumOfSub" title="구독자 수">135만 명</span>
                    </div>
                    <div class="subbtnAndAlarm">
                        <button id="sub_btn" class="sub_btn" onclick="Sub()">구독</button>
                        <button id="alarm_btn" title="알림받기" onclick="Alarm()"><i class="far fa-bell"></i></button>
                    </div>
                </div>
                <div class="video_des">
                    {{ video.des }}
                </div>
            </div>
        </section>
        <section class="comment_section">
            <div>
                <h3>{{video.title}}에 댓글을 달아주세요.</h3>
            </div>
            {% if comments %}
                {% for comment in video.comments.all %}
                <div>
                    <div>{{ comment.comment_body }}</div>
                    <div>{{ comment.comment_date }}</div>
                </div>
                {% endfor %}
            {% else %}
            <p>아직 댓글이 없음.</p>
            {% endif %}
            <div>
                <div class="comment_form">
                    {% csrf_token %}
                    <textarea name="comment" placeholder="댓글을 적어주세요." required></textarea>
                    <input type="submit" value="쓰기">
                </div>
            </div>
        </section>
    </div>
</div>   
{% endblock content %}