{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" id="maintheme"  class="theme-link"/>
{% endblock %}

{% block content %}
<div class="wrap" style="position: fixed; top: 55px; left:0px;">
    
    {% if user.is_active %} 
    <h2 class="loginsuc" style="text-align: center;">Logged User Info</h2>
    <div class="userinfo" style="margin: 20px 10%;background-color: lightgray;text-align: center;">
        <p style="padding:10px; font-size: large; font-weight: bold;">"email"</p> 
        <p style="padding:10px;">{{ user.email }}</p>
        <p style="padding:10px; font-size: large; font-weight: bold;">"UserName"</p> 
        <p style="padding:10px;">{{ user.username }}</p>
        <p style="padding:10px; font-size: large; font-weight: bold;">"last login"</p> 
        <p style="padding:10px;">{{ user.last_login }}</p>
    </div>
    <div style="position: fixed; bottom: 50px;">
        <a href="{% url 'youtube:logout' %}">Sign Out</a>
    </div>
    {% else %}
    <h2 class="loginsuc">No user logged in.</h2>
    {% endif %}
</div>
{% endblock content %}