@import url("base-dark.css");

.wrap {
  position: fixed;
  top: 55px;
  left: 0;
  background-color: var(--dark-mode1);
  height: 100%;
  width: 100%;
}

@media all and (min-width: 320px) {
}
@media all and (min-width: 768px) {
}

@media all and (min-width: 960px) {
}
