@import url("base-light.css");

.wrap2 {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.mychannel_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 15%;
  padding: 5% 15% 0 15%;
}
.my_imgBox {
  display: flex;
}
.my_img {
}
.my_info {
  width: 100%;
}
.mychannel_menu-box {
  display: flex;
}
.tab {
  display: flex;
  overflow: hidden;
}
.tabbtn {
  background-color: inherit;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  flex-basis: 100px;
  font-size: 14px;
  color: var(--dark-mode4);
}
.tabbtn.active {
  border-bottom: 3px solid black;
}
.tab_dark button.active {
  color: white;
  border-bottom: 3px solid var(--dark-mode4);
}
.tabcontent {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
#home .home-2 {
  height: 50%;
}
@media all and (min-width: 320px) {
  .tabbtn {
    padding: 8px 6px;
    font-size: 14px;
  }
  .my_Name {
    width: 100%;
    padding-top: 18px;
    text-align: start;
    font-size: 14px;
  }
  .home-2 {
    display: flex;
  }
  .upload-form {
    margin: 0 auto;
    width: 90%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  input[type="text"],
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="file"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button[type="submit"],
  .update-btn {
    width: 100%;
    background-color: #4853d3;
    color: white;
    padding: 6px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type="submit"]:hover,
  td > button :hover {
    background-color: #3841a5;
  }
  .deup-btn-flex {
    display: flex;
    flex-direction: column;
  }
  table,
  tr,
  th {
    border-bottom: 1px solid rgb(98, 97, 97);
    text-align: left;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    padding: 10px;
    text-align: left;
  }
  td > a {
    padding: 0;
  }
  td > a :hover,
  li :hover {
    color: black;
  }
  .update-link {
    color: white;
    padding: 0;
  }
  .update-link :hover {
    color: white;
    background-color: #3841a5;
  }

  #reload_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    background-color: var(--dark-mode4);
    border-radius: 2em;
    margin: 20px;
  }
  #reload_btn i {
    font-size: medium;
    color: var(--dark-mode5);
  }
  #home {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 100px;
  }
  #home .home-1 {
    font-size: 1.4em;
    padding-bottom: 30px;
  }
  #input_file {
    display: block;
    font-size: 0.8em;
    padding-top: 10px;
  }
  #home .home-3 {
    margin: 30px 0;
  }
  #filelist {
    display: block;
    height: 100%;
  }
}
@media all and (min-width: 768px) {
  .tab button {
    padding: 16px 20px;
    font-size: 16px;
    min-width: 120px;
  }
  .my_Name {
    padding-top: 0;
    font-size: 16px;
  }
  .upload-form {
    padding: 30px;
    width: 80%;
  }
  #reload_btn {
    width: 40px;
    height: 40px;
    border-radius: 2em;
    margin: 20px;
  }
  #reload_btn i {
    font-size: medium;
    padding-top: 0;
  }
}

@media all and (min-width: 960px) {
  .tab button {
    padding: 16px 20px;
    font-size: 16px;
    min-width: 120px;
  }
  .my_Name {
    padding-top: 0;
    font-size: 16px;
  }
  .upload-form {
    padding: 30px;
    width: 60%;
  }
  #reload_btn {
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 2em;
    margin: 20px;
  }
  #reload_btn i {
    font-size: large;
  }
  #home {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 10%;
  }
  #home .home-1 {
    font-size: 1.6em;
    padding-bottom: 40px;
  }
}
