@import url("base-light.css");

.wrap2 {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.mychannel_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 15%;
  padding: 5% 15% 0 15%;
}
.my_imgBox {
  display: flex;
}
.my_img {
}
.my_info {
  width: 100%;
}
.mychannel_menu-box {
  display: flex;
}
.tab {
  display: flex;
  overflow: hidden;
}
.tab button {
  background-color: inherit;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  flex-basis: 100px;
  font-size: 14px;
  color: var(--dark-mode4);
}
.tab button.active {
  border-bottom: 3px solid black;
}
.tab_dark button.active {
  color: white;
  border-bottom: 3px solid var(--dark-mode4);
}
.items {
  height: 100%;
}
.tabcontent {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
@media all and (min-width: 320px) {
  /*video.css*/
  .tab button {
    padding: 8px 6px;
    font-size: 14px;
  }
  .my_Name {
    width: 100%;
    padding-top: 18px;
    text-align: start;
    font-size: 14px;
  }
  #reload_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    background-color: var(--dark-mode4);
    border-radius: 2em;
    margin: 20px;
  }
  #reload_btn i {
    font-size: medium;
    color: var(--dark-mode5);
  }
  #home {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 100px;
  }
  #home .home-1 {
    font-size: 1.4em;
    padding-bottom: 30px;
  }
  #input_file {
    display: block;
    font-size: 0.8em;
    padding-top: 10px;
  }
  #home .home-3 {
    margin: 30px 0;
  }
  #filelist {
    display: none;
    height: 100%;
  }
  #filedelete {
    display: none;
    height: 100%;
  }
}
@media all and (min-width: 768px) {
  .tab button {
    padding: 16px 20px;
    font-size: 16px;
    min-width: 120px;
  }
  .my_Name {
    padding-top: 0;
    font-size: 16px;
  }
  #reload_btn {
    width: 40px;
    height: 40px;
    border-radius: 2em;
    margin: 20px;
  }
  #reload_btn i {
    font-size: medium;
    padding-top: 0;
  }
}

@media all and (min-width: 960px) {
  .tab button {
    padding: 16px 20px;
    font-size: 16px;
    min-width: 120px;
  }
  .my_Name {
    padding-top: 0;
    font-size: 16px;
  }
  #reload_btn {
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 2em;
    margin: 20px;
  }
  #reload_btn i {
    font-size: large;
  }
  .items #home {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 10%;
  }
  #home .home-1 {
    font-size: 1.6em;
    padding-bottom: 40px;
  }
}
