@import url("base-light.css");

.wrap {
  position: fixed;
  top: 55px;
  left: 0;
  background-color: inherit;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.wrap::-webkit-scrollbar {
  width: 8px;
}
.wrap::-webkit-scrollbar-thumb {
  background-color: var(--dark-mode3);
}
.wrap::-webkit-scrollbar-track {
  background-color: var(--dark-mode5);
}
a {
  padding-left: 0;
}

.topvideo-title {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 10px 0 0;
}
.video-flex {
  display: flex;
}
.video-div {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.video-info-title {
  font-size: large;
  color: black;
  /* 한 줄 자르기 */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  line-height: 1.2;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.video-info {
  color: gray;
  padding-top: 10px;
}
@media all and (min-width: 320px) {
  .video-flex {
    display: flex;
    flex-direction: column;
    margin: 20px 5%;
  }
  .video-info-div {
    text-align: start;
    font-size: small;
  }
  .video-info-title {
    padding-top: 10px;
    font-size: medium;
  }
}

@media all and (min-width: 768px) {
  .wrap {
    align-content: center;
    padding-top: 20px;
  }
  .topvideo-title {
    font-size: x-large;
  }
  .video-flex {
    flex-direction: row;
    margin: 30px 2%;
    justify-content: center;
  }
  .video-item {
    min-width: 40%;
    padding-right: 2%;
  }
  .video-item2 {
    min-width: 40%;
    max-width: 40%;
  }
  .video-info-div {
    text-align: start;
    font-size: medium;
  }
  .video-info-title {
    padding-top: 10px;
    font-size: large;
  }
}

@media all and (min-width: 1024px) {
  .topvideo-title {
    font-size: xx-large;
  }
  .video-flex {
    flex-direction: row;
    margin: 30px 2%;
    justify-content: center;
  }
  .video-item {
    min-width: 400px;
    padding-right: 2%;
  }
  .video-item2 {
    min-width: 400px;
    max-width: 400px;
  }
  .video-info-div {
    text-align: start;
    font-size: medium;
  }
  .video-info-title {
    padding-top: 10px;
    font-size: large;
  }
}

@media all and (min-width: 1500px) {
  .menu .menu_box {
    position: fixed;
    width: 250px;
  }
  #menu_btn {
    display: none;
  }
  .logo {
    position: fixed;
    left: 2%;
  }
  .logo-span {
    font-size: x-large;
  }
}
