@import url("base-light.css");

.wrap {
  padding-top: 55px;
  background-color: inherit;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.comment_section {
  margin: 2% 0;
}
.comment_section > span {
  margin: 2%;
  font-weight: bold;
  font-size: large;
}
.comment-form-div {
  width: 94%;
  padding: 2%;
}
.comment-form {
  display: flex;
  flex-direction: column;
}
.comment-form > textarea {
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  font-size: medium;
  padding: 4px;
}
.comment-form > textarea:focus {
  outline: none;
}
.comment-form > input[type="submit"] {
  align-self: flex-end;
  background-color: #4853d3;
  color: white;
  padding: 6px 10px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 150px;
}
.comment-form > input[type="submit"]:hover {
  background-color: #3841a5;
}
.comment_section {
  display: block;
}
.comment-list {
  border-top: 1px solid lightgray;
  height: 100%;
}
.comment-list-items {
  padding: 3% 2%;
  border-bottom: 1px solid lightgray;
}
.comment-list-body {
  font-size: small;
  /* 한 줄 자르기 */
  display: inline-block;
  width: 100%;
  padding: 4px 0 10px;
  overflow: auto;
  text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  line-height: 1.2;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  /*-webkit-line-clamp: 2; 보여줄 줄 수*/
  -webkit-box-orient: vertical;
}
.comment-list-flex {
  display: flex;
}
.comment-list-flex2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.comment-list-user {
  font-size: small;
  font-weight: bold;
}
.comment-list-date {
  font-size: small;
  font-weight: 200;
}
.comment-list-delete {
  align-self: flex-end;
  background-color: var(--dark-mode6);
  border-radius: 0.25em;
  padding: 3px 5px;
  margin-bottom: 4px;
  cursor: pointer;
  justify-self: center;
}
.comment-list-delete:hover {
  background-color: lightgray;
}
form > input[type="submit"]:focus {
  outline: none;
}
form > input[type="submit"]:hover {
  cursor: pointer;
}
/* 콘텐츠 영역 */
.contents {
  margin: 3% 3% 0 3%;
  width: 94%;
}
.video {
  border-bottom: 1px solid lightgray;
}

.video-div {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-div {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}
.video_title {
  padding: 8px 0 0 0;
  display: inline-block;
  width: 100%;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.video_information {
  display: flex;
  padding: 8px 0px;
  justify-content: space-between;
  align-items: center;
}
.video_views {
  color: gray;
}
.video_likehateicons {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}
.video_btn {
  padding: 5px 8px;
  color: gray;
  border: none;
}
.video_btn :hover {
  color: blue;
}

.video_user {
  display: flex;
  padding: 3% 0;
  border-bottom: 1px solid lightgray;
}
.video_detail {
  padding-left: 1%;
  width: 100%;
}
.user_detail {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  width: 100%;
}
.user_Box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.subbtnAndAlarm {
  display: flex;
  margin-right: 3%;
}
.sub_btn {
  width: 5.5em;
  height: 2.8em;
  color: rgb(245, 245, 245);
  background-color: rgb(211, 17, 17);
  border-radius: 2px;
  margin-right: 20px;
}
.video_des {
  padding: 0 2%;
}
#alarm_btn {
  display: none;
  color: var(--dark-mode4);
}
@media all and (min-width: 320px) {
  .video-flex {
    display: flex;
    flex-direction: column;
  }
  .video_title {
    font-size: 16px;
  }
  .video_views,
  .video_btn,
  .user_Name,
  .user_NumOfSub,
  .video_des,
  .sub_btn {
    font-size: 14px;
  }
  .comment-form > textarea {
    font-size: large;
  }
  .comment-list-items {
    padding: 2%;
  }
  .comment-list-body {
    font-size: medium;
  }
  .comment-list-user,
  .comment-list-date {
    font-size: small;
  }
}
@media all and (min-width: 600px) {
  .video_title {
    font-size: 18px;
  }
  .video_views,
  .video_btn {
    font-size: 16px;
  }
  .user_Name,
  .user_NumOfSub,
  .video_des,
  .sub_btn {
    font-size: 14px;
  }
}

@media all and (min-width: 768px) {
  .video-div {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .video {
    padding: 0 2%;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
  }
}

@media all and (min-width: 1024px) {
  .wrap {
    overflow: hidden;
  }
  .contents {
    display: flex;
  }
  .video-info {
    margin-top: 10px;
  }
  .video_title {
    margin-bottom: 10px;
  }
  .video-flex {
    flex-basis: 66%;
    border-right: 1px solid lightgray;
    padding-right: 2%;
  }
  .comment_section {
    overflow: auto;
    padding-left: 2%;
    flex-basis: 30%;
  }
  .video_title {
    font-size: 20px;
  }
  .video_views,
  .video_btn,
  .user_Name,
  .user_NumOfSub,
  .video_des,
  .sub_btn {
    font-size: 16px;
  }
}

@media all and (min-width: 1500px) {
  .menu .menu_box {
    position: fixed;
    width: 250px;
  }
  .contents {
    display: flex;
    margin-left: 250px;
  }
  .video-flex {
    flex-basis: 50%;
    border-right: 1px solid lightgray;
    padding: 0 1%;
  }
  .comment_section {
    padding-left: 2%;
    flex-basis: 35%;
  }
}
