@import url("base-light.css");

.wrap {
  position: fixed;
  top: 55px;
  left: 0;
  background-color: inherit;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.account-title {
  text-align: center;
  font-weight: bold;
}
.userinfo {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-mode5);
  background-color: white;
  padding: 20px;
}
.userinfo-text {
  font-weight: bold;
}
.userinfo-item {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
}
.item {
  font-weight: bold;
  flex-basis: 40%;
}
.item-value {
  color: var(--dark-mode4);
  flex-basis: 60%;
}
.usermod-form {
  background-color: white;
}
.usermod-item {
  display: flex;
  width: 100%;
}
.usermod-item > p {
  font-weight: bold;
  flex-basis: 40%;
}
.usermod-item > input[type="text"] {
  flex-basis: 60%;
  border: 1px solid var(--dark-mode5);
}
@media all and (min-width: 320px) {
  .account-title {
    font-size: large;
    margin-top: 10px;
  }
  .userinfo {
    margin: 30px 2%;
  }
  .userinfo-text {
    font-size: medium;
    padding-bottom: 30px;
  }
  .usermod-form {
    margin: 30px 3%;
    padding: 20px;
  }
  .usermod-item {
    padding: 10px 0;
  }
  .usermod-item > p {
    font-size: medium;
  }
  .usermod-item > input[type="text"] {
    padding: 4px;
  }
}

@media all and (min-width: 768px) {
  .account-title {
    font-size: x-large;
    margin: 30px;
  }
  .userinfo {
    margin: 30px 5%;
  }
  .userinfo-text {
    font-size: large;
    padding-bottom: 30px;
  }
  .usermod-form {
    margin: 30px 5%;
    padding: 30px;
  }
  .usermod-item {
    padding-bottom: 20px;
  }
  .usermod-item > p {
    font-size: large;
  }
  .usermod-item > input[type="text"] {
    padding: 6px;
    font-size: large;
  }
  .usermod-subminbtn {
    text-align: center;
  }
  .usermod-subminbtn > button[type="submit"] {
    background-color: #4853d3;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
  }
  .usermod-subminbtn > button[type="submit"]:hover {
    background-color: #3841a5;
  }
}

@media all and (min-width: 1024px) {
  .account-title {
    font-size: xx-large;
    margin: 30px;
  }
}

@media all and (min-width: 1500px) {
  .menu .menu_box {
    position: fixed;
    width: 250px;
  }
  #menu_btn {
    display: none;
  }
  .logo {
    position: fixed;
    left: 2%;
  }
  .logo-span {
    font-size: x-large;
  }
  .wrap {
    margin-left: 250px;
    width: 87%;
  }
}
