# Created by https://www.toptal.com/developers/gitignore/api/django,vscode,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=django,vscode,windows

### Django ###
__pycache__/ 
*.log 
*.pot 
*.pyc 
*.py[cod]

.Python
venv/

db.sqlite3
db.sqlite3-journal
local_settings.py

.vscode/
.DS_Store